main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    min-height: 100vh;
    background-color: #598ac2;
    color: #fff;

    .container {
        width: 48.75rem;
        padding: 2rem 2.5rem;
        border-radius: .5rem;
        background-color: #000;
        display: flex;
        flex-direction: column;
        gap: 4rem;

        .header {
            color: #b2b2b2;
            display: flex;
            align-items: center;
            justify-content: space-between;

            h2 {
                font-size: 1.6rem;
            }

        }

        .piano-keys {
            display: flex;
        }
    }

    .myName {
        font-size: 1.8rem;
        animation: transitionLinear 5s linear alternate infinite;
    }
}

.column {
    display: flex;
    align-items: center;

    span {
        font-weight: 500;
        margin-right: 1rem;
        font-size: 1.19rem;
    }

    &.volume-slider input {
        accent-color: #fff;
    }

    &.keys-check {
        input {
            width: 4rem;
            height: 2rem;
            position: relative;
            appearance: none;
            border-radius: 2rem;
            background-color: #4b4b4b;
            cursor: pointer;

            &::before {
                content: "";
                width: 1.3rem;
                height: 1.3rem;
                background-color: #8c8c8c;
                position: absolute;
                top: 50%;
                left: .5rem;
                border-radius: inherit;
                transform: translateY(-50%);
                transition: .25s linear;
            }

            &:checked::before {
                left: 2rem;
                background-color: #fff;
            }
        }
    }
}

.piano-keys {
    .hide span {
        display: none;
    }

    .key {
        cursor: pointer;
        color: #a2a2a2;
        text-transform: uppercase;
        position: relative;

        span {
            position: absolute;
            bottom: 1.25rem;
            width: 100%;
            text-align: center;
            font-size: 1.13rem;
        }
    }

    .white {
        width: 4.37rem;
        height: 14.37rem;
        border: 1px solid black;
        border-radius: .5rem;
        background: linear-gradient(#fff 96%, #eee 4%);

        &:active {
            background: linear-gradient(to bottom #fff 0%, #eee 100%);
            box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.678);
        }

        &.active {
            background: linear-gradient(to bottom #fff 0%, #eee 100%);
            box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.2);
        }
    }

    .black {
        width: 2.75rem;
        height: 8.75rem;
        z-index: 2;
        margin: 0 -1.35rem 0 -1.35rem;
        border: 1px solid black;
        border-radius: 0 0 .4rem .4rem;
        background: linear-gradient(#333, #000);

        &:active {
            background: linear-gradient(to bottom #000, #434343 100%);
            box-shadow: inset -5px 5px 20px rgba(255, 255, 255, 0.281);
        }

        &.active {
            background: linear-gradient(to bottom #000, #434343 100%);
            box-shadow: inset -5px 5px 20px rgba(255, 255, 255, 0.281);
        }
    }
}

// %animation {
//     background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%,
//             rgba(9, 9, 121, 1) 35%,
//             rgba(0, 212, 255, 1) 100%);
//     background-clip: text;
//     text-shadow: 2px 2px solid red;
// }

@keyframes transitionLinear {
    0% {
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%,
                rgba(9, 9, 121, 1) 35%,
                rgba(0, 212, 255, 1) 100%);
        background-clip: text;
        text-shadow: 2px 2px solid red;
    }

    25% {
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%,
                rgba(9, 9, 121, 1) 35%,
                rgba(0, 212, 255, 1) 100%);
        background-clip: text;
        text-shadow: 2px 2px solid red;
    }

    50% {
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%,
                rgba(9, 9, 121, 1) 35%,
                rgba(0, 212, 255, 1) 100%);
        background-clip: text;
        text-shadow: 2px 2px solid red;
    }

    100% {
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%,
                rgba(9, 9, 121, 1) 35%,
                rgba(0, 212, 255, 1) 100%);
        background-clip: text;
        text-shadow: 2px 2px solid red;
    }
}